@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
  
    @font-face {
        font-family: limo;
        src: url(../font/LemonMilkRegularItalic-L3AEy.otf);
    }
    @font-face {
        font-family: vazir;
        src: url(../font/Vazir-Medium.ttf);
    }
    html{
        font-family:limo;
    }
    .modal{
        font-family:vazir;
        direction: rtl;
        background: white;
        color:black;
        box-shadow: 6px -15px 18px 0px #e3e3e396, -15px 20px 18px 0px #e3e3e396;
    }
    .modal ol{
        font-size: 1.125rem;
        line-height: 13vh;
        line-height: 32px;
    }
    .modal-dark{
        color: #fff;
        background: #1f1f1f;
        box-shadow: none;
    }
   
    .polgon-3{
        clip-path: polygon(55% 100%, 4% 10%,100% 10%);
        transform: rotateZ(267deg);
    }
    .none1{
        display: none;
    }
    .mod{
        animation-name: top;
        animation-duration: 0.700s;
        animation-iteration-count: 1;
      }
      @keyframes top {
          0%{top: 0;transform: rotate(180deg);}
          100%{top: 37vh;transform: rotateZ(0deg);}
      }

}